<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Project</title>
		<meta name="keywords" content="" /> 
		<meta name="description" content="" /> 
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link href="js/fancybox/jquery.fancybox-1.3.4.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="js/jquery-1.7.min.js"></script>
		<script src="js/fancybox/jquery.fancybox-1.3.4.js" type="text/javascript"></script>
		<script src="js/jquery.nivo.slider.js" type="text/javascript"></script>
		<script type="text/javascript" src="js/chosen/chosen.jquery.min.js"></script>
		<script type="text/javascript" src="js/func.js"></script>
	</head>
	<body>
		<div class="overlay"></div>
		<div class="wrapper">
			<div class="wrap-position">
				<!--форма задать вопрос-->
				<div class="form-position">
					<div class="form-up">
						<form action="#">
							<p class="h2">Задать вопрос</p>
							<a href="#" class="close">Закрыть</a>
							<div><label>Ваше имя<input type="text" /></label></div>
							<div><label>Ваши контакты<input type="text" /></label></div>
							<div>
								Текст сообщения
								<textarea name="" id="" cols="30" rows="10"></textarea>
							</div>
							<div><input class="form-btn" type="submit" value="Отправить" /></div>
						</form>
					</div>
				</div>
				<!--форма задать вопрос-->
				<!--шапка-->
				<div class="header">
					<!--лого-->
					<div class="logo">
						<a href="#"><img src="img/logo.png" alt="" title="" /></a>
					</div>
					<!--лого-->
					<div class="h-top">
						<!--верхнее меню-->
						<div class="h-txt">
							<ul>
								<li><span class="artsprt icon1"></span><span>Горячая линия 0 (800) 30 70 77</span></li>
								<li><span class="artsprt icon2"></span><span>Киев: +38 (044) 425 43 63</span></li>
								<li><span class="artsprt icon3"></span><span>Харьков: +38 (057) 714 20 48</span></li>
							</ul>
							<div class="search"><input type="text" class="autoclear" value="Поиск" /><a href="#"></a></div>
							<div class="both"></div>
						</div>
						<div class="h-t-menu">
							<ul>
								<li class="active"><span>О нас</span></li>
								<li><a href="#">Оплата и доставка</a></li>
								<li><a href="#">Новости статьи</a></li>
								<li class="last"><a href="#">Сотрудничество</a></li>
							</ul>
							<a class="btn-gray link-up" href="#">Задать вопрос</a>
							<div class="both"></div>
						</div>
						<div class="both"></div>
					</div>
					<div class="both"></div>
					<div class="h-b-menu">
						<ul>
							<li class="home"><span class="active"></span></li>
							<li><a href="#">Каталог полов</a></li>
							<li class="go-box-up"><a href="#">Каталог дверей</a>
								<div class="box-up">
									<div class="up-menu">
										<ul class="list-menu catalog-menu2">
											<li class="active"><a href="#"><span class="up-icon1"></span>ламинат</a></li>
											<li><a href="#"><span class="up-icon2"></span>паркетная доска</a></li>
											<li><a href="#"><span class="up-icon3"></span>массивная доска</a></li>
											<li><a href="#"><span class="up-icon4"></span>пробковое покрытие</a></li>
											<li><a href="#"><span class="up-icon5"></span>линолеум</a></li>
											<li><a href="#"><span class="up-icon6"></span>художественный паркет</a></li>
											<li><a href="#"><span class="up-icon7"></span>дворцовый паркет</a></li>
											<li><a href="#"><span class="up-icon8"></span>эксклюзив</a></li>
										</ul>
										<div class="both"></div>
										<div class="crumb-box">
											<span class="B_crumbBox">
												<span class="B_firstCrumb">
													<a class="B_homeCrumb" href="/" >каталог полов</a>
												</span>/
												<a title="" href="#" class="B_crumb">haro</a> /
												<span class="B_lastCrumb">
													<span class="B_currentCrumb">бук прованс</span>
												</span>
											</span>
										</div>
									</div>
								</div>
							</li>
							<li><a href="#">Сервис</a></li>
							<li><a href="#">Акции</a></li>
							<li><a href="#">Распродажа</a></li>
							<li class="last"><a href="#">Контакты</a></li>
						</ul>
						<div class="both"></div>
					</div>
					<div class="clear-box-up"></div>
				</div>
				<!--шапка-->
				<!--центральный блок-->
				<div class="in-wrapper">
					<div class="index-video">
						<div class="video-top">
							<div class="video-btm">
								<div class="box-tabs4">
									<ul class="video-nav">
									   <li class="tab-caption first">первое видео</li>
									   <li class="tab-caption">второе видео</li>
									</ul>
									<div class="both"></div>
									
									<div class="tab-content">
										<img src="img/video-intro.png" alt="" />
										<div class="both"></div>
									 </div>
									<div class="tab-content">
										видео2
										<div class="both"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="bg-repeat">
						<div class="bg-btm">
							<div class="index-top-box">
								<div class="box-tabs box-tabs1">
									<ul>
									   <li class="tab-caption first">полы</li>
									   <li class="tab-caption">новинки</li>
									</ul>
									<div class="both"></div>
									<div class="tab-content">
										<ul>
											<li><a href="#">Ламинат</a></li>
											<li><a href="#">Паркетная доска</a></li>
											<li><a href="#">Массивная доска</a></li>
											<li><a href="#">Паркет</a></li>
											<li><a href="#">Пробковые покрытия</a></li>
											<li><a href="#">Линолеум</a></li>
										</ul>
										<ul>
											<li><a href="#">Строительная химия</a></li>
											<li><a href="#">Комплектующие</a></li>
										</ul>
										<div class="both"></div>
									 </div>
									<div class="tab-content">
										<ul>
											<li><a href="#">Дверь1</a></li>
											<li><a href="#">Дверь1</a></li>
											<li><a href="#">Дверь1</a></li>
										</ul>
										<div class="both"></div>
									</div>
								</div>
								<div class="box-tabs box-tabs2">
									<ul>
									   <li class="tab-caption first">полы</li>
									   <li class="tab-caption">новинки</li>
									</ul>
									<div class="both"></div>
									<div class="tab-content">
										<ul>
											<li><a href="#">Двери межкомнатные</a></li>
											<li><a href="#">Двери входные</a></li>
											<li><a href="#">Двери шпонированные</a></li>
											<li><a href="#">Двери деревянные</a></li>
											<li><a href="#">Двери раздвижные</a></li>
											<li><a href="#">Производство дверей</a></li>
										</ul>
										<ul>
											<li><a href="#">Двери элитные</a></li>
											<li><a href="#">Двери на заказ</a></li>
											<li><a href="#">Эксклюзивные двери</a></li>
											<li><a href="#">Двери из массива</a></li>
											<li><a href="#">Двери раздвижные</a></li>
											<li><a href="#">Двери с ковкой</a></li>
										</ul>
										<ul>
											<li><a href="#">Фурнитура</a></li>
										</ul>
										<div class="both"></div>
									 </div>
									<div class="tab-content">
										<ul>
											<li><a href="#">Дверь1</a></li>
											<li><a href="#">Дверь1</a></li>
											<li><a href="#">Дверь1</a></li>
										</ul>
										<div class="both"></div>
									</div>
								</div>
								<div class="both"></div>
							</div>
						</div>
					</div>
					<div class="both"></div>
					<div class="slider">
						<span class="slider-icon"></span>
						<div class="in-slider">
							<img src="img/tmp/test6.jpg" alt="" />
							<img src="img/tmp/slide1.jpg" alt="" />
							<img src="img/tmp/slide2.jpg" alt="" />
						</div>
					</div>
					<div class="new-line">
						<div class="green-line">
							<div class="in-green-line"><span>Новинки</span></div>
						</div>
						<ul>
							<li>
								<a href="#" class="c-img">
								<span class="price">1200 грн</span>
								<img src="img/tmp/test1.png" alt="" /></a>
								<a href="#">Название двери</a>
							</li>
							<li>
								<a href="#" class="c-img">
								<span class="price">1200 грн</span>
								<img src="img/tmp/test1.png" alt="" /></a>
								<a href="#">Название двери</a>
							</li>
							<li>
								<a href="#" class="c-img">
								<span class="price">1200 грн</span>
								<img src="img/tmp/test1.png" alt="" /></a>
								<a href="#">Название двери</a>
							</li>
							<li>
								<a href="#" class="c-img">
								<span class="price">1200 грн</span>
								<img src="img/tmp/test1.png" alt="" /></a>
								<a href="#">Название двери</a>
							</li>
							<li>
								<a href="#" class="c-img">
								<span class="price">1200 грн</span>
								<img src="img/tmp/test1.png" alt="" /></a>
								<a href="#">Название двери</a>
							</li>
							<li>
								<a href="#" class="c-img">
								<span class="price">1200 грн</span>
								<span class="new"></span><img src="img/tmp/test1.png" alt="" /></a>
								<a href="#">Название двери</a>
							</li>
						</ul>
						<div class="both"></div>
					</div>
					<div class="both"></div>
					<div class="contacts-line">
						<div class="cont-box">
							<div class="green-line">
								<b>Киев</b>
							</div>
							<div class="cont-box-txt">
								<ul>
									<li>ул. Нижний Вал, 9<br />
									(044) 425 43 63 <span class="map"></span></li>
									<li>ул. Нижний Вал, 9<br />
									(044) 425 43 63 <span class="map"></span></li>
									<li>ул. Нижний Вал, 9<br />
									(044) 425 43 63 <span class="map"></span></li>
									<li>ул. Нижний Вал, 9<br />
									(044) 425 43 63 <span class="map"></span></li>
									<li>ул. Нижний Вал, 9<br />
									(044) 425 43 63 <span class="map"></span></li>
								</ul>
							</div>
						</div>
						<div class="cont-box last">
							<div class="green-line">
								<b>Харьков</b>
							</div>
							<ul>
								<li>ул. Нижний Вал, 9<br />
								(044) 425 43 63 <span class="map"></span></li>
								<li>ул. Нижний Вал, 9<br />
								(044) 425 43 63 <span class="map"></span></li>
								<li>ул. Нижний Вал, 9<br />
								(044) 425 43 63 <span class="map"></span></li>
								<li>ул. Нижний Вал, 9<br />
								(044) 425 43 63 <span class="map"></span></li>
								<li>ул. Нижний Вал, 9<br />
								(044) 425 43 63 <span class="map"></span></li>
							</ul>
							<div class="both"></div>
							<a href="#" class="go-all">Все контакты ...</a>
							<div class="both"></div>
						</div>
						<div class="both"></div>
					</div>
					<div class="seo-txt">
						<p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).</p>
					</div>
					<div class="logo-tabs">
						<div class="box-tabs3">
							<ul>
							   <li class="tab-caption first"><span>Производители дверей и фурнитуры</span></li>
							   <li class="tab-caption"><span>Производители напольных покрытий</span></li>
							   <li class="tab-caption"><span>Производители химии и фурнитуры</span></li>
							</ul>
							<div class="both"></div>
							<div class="tab-content">
								<ul>
									<li><a href="#"><img src="img/tmp/logo1.png" alt="" /></a></li>
									<li><a href="#"><img src="img/tmp/logo1.png" alt="" /></a></li>
									<li><a href="#"><img src="img/tmp/logo1.png" alt="" /></a></li>
									<li><a href="#"><img src="img/tmp/logo1.png" alt="" /></a></li>
									<li><a href="#"><img src="img/tmp/logo1.png" alt="" /></a></li>
									<li><a href="#"><img src="img/tmp/logo1.png" alt="" /></a></li>
								</ul>
								<div class="both"></div>
							 </div>
							<div class="tab-content">
								<ul>
									<li><a href="#"><img src="img/tmp/logo1.png" alt="" /></a></li>
									<li><a href="#"><img src="img/tmp/logo1.png" alt="" /></a></li>
									<li><a href="#"><img src="img/tmp/logo1.png" alt="" /></a></li>
									<li><a href="#"><img src="img/tmp/logo1.png" alt="" /></a></li>
									<li><a href="#"><img src="img/tmp/logo1.png" alt="" /></a></li>
								</ul>
								<div class="both"></div>
							</div>
							<div class="tab-content">
								<ul>
									<li><a href="#"><img src="img/tmp/logo1.png" alt="" /></a></li>
									<li><a href="#"><img src="img/tmp/logo1.png" alt="" /></a></li>
									<li><a href="#"><img src="img/tmp/logo1.png" alt="" /></a></li>
									<li><a href="#"><img src="img/tmp/logo1.png" alt="" /></a></li>
									<li><a href="#"><img src="img/tmp/logo1.png" alt="" /></a></li>
									<li><a href="#"><img src="img/tmp/logo1.png" alt="" /></a></li>
								</ul>
								<div class="both"></div>
							</div>
						</div>
					</div>
				</div>
				<!--центральный блок-->
				<div class="both"></div>
			</div>
			<div class="clear"></div>
		</div>
		<!--подвал-->
		<div class="footer">
			<div class="f-top"></div>
			<div class="in-footer">
				<div class="bottom-menu">
					<div class="f-col">
						<ul class="first">
							<li class="f-title"><span>Полы</span></li>
							<li><a href="#">Паркетная доска</a></li>
							<li><a href="#">Массивная доска</a></li>
							<li><a href="#">Паркет</a></li>
							<li><a href="#">Пробковые покрытия</a></li>
							<li><a href="#">Линолеум</a></li>
							<li><a href="#">Линолеум</a></li>
						</ul>
						<ul>
							<li><a href="#">Строительная химия</a></li>
							<li><a href="#">Комплектующие</a></li>
						</ul>
					</div>
					<div class="f-col">
						<ul class="first">
							<li class="f-title"><span>Двери</span></li>
							<li><a href="#">Паркетная доска</a></li>
							<li><a href="#">Массивная доска</a></li>
							<li><a href="#">Паркет</a></li>
							<li><a href="#">Пробковые покрытия</a></li>
							<li><a href="#">Линолеум</a></li>
							<li><a href="#">Линолеум</a></li>
						</ul>
						<ul>
							<li><a href="#">Строительная химия</a></li>
							<li><a href="#">Комплектующие</a></li>
						</ul>
					</div>
					<div class="f-col last">
						<ul class="first">
							<li class="f-title"><span>О нас</span></li>
							<li><a href="#">Паркетная доска</a></li>
							<li><a href="#">Массивная доска</a></li>
							<li><a href="#">Паркет</a></li>
							<li><a href="#">Пробковые покрытия</a></li>
							<li><a href="#">Линолеум</a></li>
							<li><a href="#">Линолеум</a></li>
						</ul>
						<ul>
							<li><a href="#">Строительная химия</a></li>
							<li><a href="#">Комплектующие</a></li>
						</ul>
						<div class="both"></div>
					</div>
				</div>
				<div class="both"></div>
			</div>
			<div class="f-bottom">
				<!--копирайт-->
				<div class="copy">
					<p>&copy; 2007-2012 poly-dveri.com</p>
				</div>
				<!--копирайт-->
				<!--by Artjoker-->
				<div class="art">
					<a href="#" title="Разработка сайта">Создание сайта</a> - 
					<img src="img/art.png" alt="Разработка сайта" title="Разработка сайта">
				</div>
				<!--by Artjoker-->
			</div>
			<div class="both"></div>
		</div>
		<!--подвал-->
	</body>
</html>